{% extends 'layout/default.html.twig' %}

{% block main_app %}
    <div class="container mt-5">
        <div class="row event_admin">
            <div class="col-md-12">
                <h1>{{ event.name }}</h1>
                <p class="text-muted">
                    Du {{ event.startAt|localizeddate('medium') }} au {{ event.endAt|localizeddate('medium') }}
                    {% if event.isFinished %}
                        <span class="badge badge-info">Terminé</span>
                    {% endif %}
                </p>
                <nav>
                    <div class="nav nav-tabs mt-5" id="myTab" role="tablist">
                        <a class="nav-item nav-link {{ app.request.get('_route') starts with 'event_show' ? 'active' }}" href="{{ path('event_show', {id: event.id}) }}">
                            <i class="fa fa-sm fa-calendar-week mr-2"></i>Planning
                        </a>
                        <a class="nav-item nav-link {{ app.request.get('_route') starts with 'event_tasks' ? 'active' }}" href="{{ path('event_tasks', {id: event.id}) }}">
                            <i class="fa fa-sm fa-list mr-2"></i>Tâches
                        </a>
                        <a class="nav-item nav-link {{ app.request.get('_route') starts with 'event_resources' ? 'active' }}" href="{{ path('event_resources', {id: event.id}) }}">
                            <i class="fa fa-sm fa-user mr-2"></i>Ressources <sup class="fa fa-sm fa-circle text-primary" style="font-size: 0.6em;"></sup>
                        </a>
                        <a class="nav-item nav-link {{ app.request.get('_route') starts with 'event_groups' ? 'active' }}" href="{{ path('event_groups', {id: event.id}) }}">
                            <i class="fa fa-sm fa-skills mr-2"></i>Compétences
                        </a>
                        <a class="nav-item nav-link {{ app.request.get('_route') starts with 'event_settings' ? 'active' }}" href="{{ path('event_settings', {id: event.id}) }}">
                            <i class="fa fa-sm fa-cog mr-2"></i>Paramètres
                        </a>
                    </div>
                </nav>
                {% block event_container %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

