{% extends 'event/settings/base.html.twig' %}

{% block settings_container %}
    <h3>Modifier les paramètres</h3>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(form.startAt) }}</div>
        <div class="col-md-4">{{ form_row(form.endAt) }}</div>
        <div class="col-md-4">{{ form_row(form.timePrecision) }}</div>
    </div>
    {{ form_row(form.allowSubmissions) }}

    <div class="mt-5">
        {{ form_widget(form.submit) }}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">
            Supprimer l'évènement
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Supprimer l'évènement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Etes vous sûr de vouloir supprimer cet évènement ?</p>
                    <strong>Attention, cette action est irreversible.</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <a href="#" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}