{% extends 'event/tasks/base.html.twig' %}

{% block tasks_container %}
    <h3>Modifier la tâche</h3>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.location) }}
    {{ form_row(form.color) }}

    <div class="mt-5">
        {{ form_widget(form.submit) }}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">
            Supprimer la tâche
        </button>
    </div>
    {{ form_end(form) }}

    <!-- Modal -->
    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="delete_modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Supprimer la tâche</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Etes vous sûr de vouloir supprimer cette tâche ?</p>
                    <p>12 ressources sont affectés à cette tâche</p>
                    <strong>Attention, cette action est irreversible.</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <a href="#" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}