{% extends 'event/tasks/base.html.twig' %}

{% block tasks_container %}
    <h3>Nouveau type de tâche</h3>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-10">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.color) }}
        </div>
    </div>
    {{ form_row(form.description) }}
    {{ form_row(form.location) }}
    <hr class="mt-5 mb-3"/>
    <h5>Contraintes</h5>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.minWorkingTime) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.maxWorkingTime) }}
        </div>
    </div>
    {{ form_row(form.skills) }}
    {{ form_row(form.timePrecision) }}
    {{ form_row(form.requirements) }}

    {{ form_end(form) }}
{% endblock %}